/*
    Team: Jimma Shanko, Tram-Anh Ngo, Dominic Cummings, Brittany Schaefer
    Project: Fitavate
    Page: styleSheet
    Date Created: 2-8-22
    Date Updated: 2-8-22
    By: Brittany Schaefer
*/
/*******************************************************
*                General/Home Template                 *
*******************************************************/
/**********************  Body  ************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
Body{
    background-color: #5E0B15;
} 
/**********************  Header  ***********************/
.headerContainer{
    background-color: #707070;
    align-items: center;
    padding: 1%;
}

/********  Body Content:nav bars and content  **********/
.pageContainer{
    padding-top: 2%;
    padding-bottom: 2%;
}
.middleContent{
    border-left: #707070 solid .4rem;
    border-right: #707070 solid .4rem;
}
/*****************  Left Navigation Bar  *****************/
.leftNavigationBar {
    display: flex;
    flex-direction: column;
}
.profileContainer{
    max-width: 100%;
}
.leftNavigationBar .circular--landscape{
    scale: 1;
} 
.leftNavigationBar .circular--portrait{
    scale: 1;
} 
.leftNavigationBar li a{  
    color: white;
    text-decoration: none;
    font-size:large;
}
.navbar{
    padding-left: 15%;
}
/*******  Right Navigation Bar  **********/
.rightLogo img{
    max-width: 100%;
    bottom: 0;
    
}
/*******  Footer  **********/
.footer{
    background-color: #707070;
    color: white;
    text-align: center;
    width: 100%;
}
/****************************
*           Fitines         *
****************************/
.fitineTable{
    margin-left: 10%;
    color: black;
    border: 2px solid goldenrod;
    background-color: white;
    width: 80%;
}  
.fitineRow td{
    padding: 1em;
}

/****************************
*          Profile          *
****************************/ 
.profileHeader{
    display: flex;
    flex-wrap: nowrap;
}
.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px;
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--portrait img { 
    width: 100%; 
    height: auto; 
}
.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 200px;
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}
/*******  Header  **********/

/*******   Body   **********/

/*******  Footer  **********/
.pageHeader{
    padding: 3%;
    color: white;
    font-size: 1.5rem;
}
.sectionHeader{
    padding: 5%;
    color: white;
}


/****************************
*           Desktop         *
****************************/  
