/*
    Team: Jimma Shanko, Tram-Anh Ngo, Dominic Cummings, Brittany Schaefer
    Project: Fitavate
    Page: styleSheet
    Date Created: 2-8-22
    Date Updated: 2-8-22
    By: Brittany Schaefer
*/
/*******************************************************
*                General/Home Template                 *
*******************************************************/
/**********************  Body  ************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #5E0B15;
} 
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.col [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
}

/**********************  Header  ***********************/
.headerContainer{
    background-color: #707070;
    align-items: center;
    padding: 1%;
}
/********  Body Content:nav bars and content  **********/
.pageContainer{
    padding: 2% 0%;
    display: flex;
    flex-wrap: nowrap;
    min-height: 80vh;
}
.middleContent{
    border-left: #707070 solid .4rem;
    border-right: #707070 solid .4rem;
}
.pageHeader{
    padding: 3%;
    color: white;
    text-align: center;
    font-size: 4rem;
    border-bottom: goldenrod .3rem solid;
}
.sectionHeader{
    padding: 3%;
    color: white;
    font-size: 2rem;
}
.smallProfileImgPort{
    position: relative; 
    width: 40px; 
    height: 40px;
    overflow: hidden; 
    border-radius: 50%; 
}
.smallProfileImgPort img { 
    width: 100%; 
    height: auto; 
}
.smallProfileImgLand{
    display: inline-block; 
    position: relative; 
    width: 40px;
    height: 40px; 
    overflow: hidden; 
    border-radius: 50%; 
}
.smallProfileImgLand img{
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}
.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px;
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--portrait img { 
    width: 100%; 
    height: auto; 
}
.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 200px;
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}
.pageContent{
    width: 100%;
} 
/*****************  Left Navigation Bar  *****************/
.leftNavigationBar {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding-top: 2%;
}
.profImg{
    max-width: 100%;
    height: auto;
    justify-self: center;
    scale: 90%;
}
.navbar{
    padding-left: 15%;
}
.leftNavigationBar li a{  
    color: white;
    text-decoration: none;
    font-size:large;
}
/*******  Right Navigation Bar  **********/
.imgHolder{
    padding: 0;
    margin: 0;
    position:absolute;
    bottom: 0;
}
.imgHolder img{
    max-width: 90%;
}
/*******  Footer  **********/
.footContainer{
    padding-top: .2rem;
    background-color: #707070;
    color: white;
    text-align: center;
}
.footContainer h5{
    font-size: small;
}
/*********************************************************
*                         Fitines                        *
**********************************************************/
/*****************   UserFitines view    *****************/
.fitineTable{
    margin-left: 10%;
    border: .2rem solid goldenrod;
    background-color: white;
    width: 80%;
} 
.fitineTableHeader{
    padding: .5rem;
    font-size: large;
}
.fitineFormContainer{
    margin-top: 4%;
    padding: 5%;
    color: white;
    background-color: rgba(255, 255, 255, 0.18);
}
.fitineName{
    font-size: 1.5rem;
}
.fitineFormContainer .form-check-input{
    font-size: 1rem;
}
.card-body{
    padding-top: .3rem;
}
.card-link{
    color: black;
}
.fitineDisplay{
    border-top: #5E0B15 .4rem solid;
    border-bottom: #5E0B15 .4rem solid;
    text-align: center;
}
.fitineDisplay thead{
    background-color: #70707098;
}
.fitineSubmit{
    padding: .3rem;
    background-color: goldenrod;
}
.hiddenStatus{
    display: none;
}
#fitineEdit{
    background-color: goldenrod;
}
#fitineDelete{
    background-color: goldenrod;
}
#unfollowFitine{
    justify-self: end;
    background-color: goldenrod;
}
.tableHeadings{
    text-align: center;
}
#liftSel input{
    text-align: center;
}
/*****************   Profile Fitines    *****************/
.fitineNameProfile{
    font-size: 1.5rem;
    text-align: center;
}
/****************************************************
*                       Profile                     *
****************************************************/ 
.profileHeader{
    padding: 3% 3%;
}
.profile-img{
    scale: 120%;
}
.profile-info{
    max-width: fit-content;
    align-items: center;
    color: white;
}
.profStats{
    padding-top: .4rem;
}
.editButton{
    background-color: white;
}
.profilePage{
    padding: 0 3%;
    color: black;
}
/*****************************************************
*                     Edit Profile                   *
*****************************************************/ 
.profileEditPage{
    color: white;
}
.pageHeaderProfile{
    margin: 0 2%;
    border-bottom: goldenrod .4rem solid;
}
.editDisplay{
    margin: 2%;
}
.userName{
    border-bottom: goldenrod solid .4rem;
}
.privateInfo{
    padding: 2%;
}
.privateInfo label{
    text-align:right;
}


/****************************
*    Secondary Profile      *
****************************/ 
.secProfImg{
    scale: 30%;
}
.userLink{
    width: 100%;
}
/*******  Header  **********/

/*******   Body   **********/

/*******  Footer  **********/



/****************************
*           Desktop         *
****************************/  
