/*
    Team: Jimma Shanko, Tram-Anh Ngo, Dominic Cummings, Brittany Schaefer
    Project: Fitavate
    Page: styleSheet
    Date Created: 2-8-22
    Date Updated: 2-8-22
    By: Brittany Schaefer
*/
/*******************************************************
*                General/Home Template                 *
*******************************************************/
/**********************  Body  ************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #5E0B15;
} 
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.col [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
}
.viewProfile {
    background-color: rgba(255, 255, 255, 0);   
}
.viewProfile {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
  }
/**********************  Header  ***********************/
.headerContainer{
    background-color: #707070;
    align-items: center;
    padding: 1%;
}
/********  Body Content:nav bars and content  **********/
.pageContainer{
    padding: 2% 0%;
    display: flex;
    flex-wrap: nowrap;
    min-height: 80vh;
}
.middleContent{
    border-left: #707070 solid .4rem;
    border-right: #707070 solid .4rem;
}
.pageHeader{
    padding: 3%;
    color: white;
    text-align: center;
    font-size: 4rem;
    border-bottom: goldenrod .3rem solid;
}
.sectionHeader{
    padding: 3%;
    color: white;
    font-size: 2rem;
}
.smallProfileImgPort{
    position: relative; 
    width: 40px; 
    height: 40px;
    overflow: hidden; 
    border-radius: 50%; 
}
.smallProfileImgPort img { 
    width: 100%; 
    height: auto; 
}
.smallProfileImgLand{
    display: inline-block; 
    position: relative; 
    width: 40px;
    height: 40px; 
    overflow: hidden; 
    border-radius: 50%; 
}
.smallProfileImgLand img{
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}
.circular--portrait { 
    position: relative; 
    width: 200px; 
    height: 200px;
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--portrait img { 
    width: 100%; 
    height: auto; 
}
.circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 15vw;
    height: 15vw;
    max-width:100%; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}
.pageContent{
    width: 100%;
} 
/*****************  Left Navigation Bar  *****************/
.leftNavigationBar {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    padding-top: 2%;
}
.profImg{
    max-width: 100%;
    height: auto;
    justify-self: center;
    scale: 90%;
}
.navbar{
    padding-left: 15%;
}
.leftNavigationBar li a{  
    color: white;
    text-decoration: none;
    font-size:large;
}
/*******  Right Navigation Bar  **********/
.imgHolder{
    padding: 0;
    margin: 0;
    position:absolute;
    bottom: 0;
}
.imgHolder img{
    max-width: 90%;
}
/*******  Footer  **********/
.footContainer{
    padding-top: .2rem;
    background-color: #707070;
    color: white;
    text-align: center;
}
.footContainer h5{
    font-size: small;
}
/*********************************************************
*                         Fitines                        *
**********************************************************/
/*****************   UserFitines view    *****************/
.fitineTable{
    margin-left: 10%;
    border: .2rem solid goldenrod;
    background-color: white;
    width: 80%;
} 
.fitineTableHeader{
    padding: .5rem;
    font-size: large;
}
.fitineFormContainer{
    margin-top: 4%;
    padding: 5%;
    color: white;
    background-color: rgba(255, 255, 255, 0.18);
}
.fitineName{
    font-size: 1.5rem;
}
.fitineFormContainer .form-check-input{
    font-size: 1rem;
}
.card-body{
    padding-top: .3rem;
}
.card-link{
    color: black;
}
.fitineDisplay{
    border-top: #5E0B15 .4rem solid;
    border-bottom: #5E0B15 .4rem solid;
    text-align: center;
}
.fitineDisplay thead{
    background-color: #70707098;
}
.fitineSubmit{
    padding: .3rem;
    background-color: goldenrod;
}
.hiddenStatus{
    display: none;
}
#fitineEdit{
    background-color: goldenrod;
}
#fitineDelete{
    background-color: goldenrod;
}
#unfollowFitine{
    justify-self: end;
    background-color: goldenrod;
}
.tableHeadings{
    text-align: center;
}
#liftSel input{
    text-align: center;
}
/*****************   Profile Fitines    *****************/
.fitineNameProfile{
    font-size: 1.5rem;
    text-align: center;
}
/****************************************************
*                       Profile                     *
****************************************************/ 
.profileHeader{
    padding: 3% 0;
}
.profile-info{
    color: white;
}
.profStats{
    padding-top: .4rem;
}
.bioRow{
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.274);
    border: #707070 .2rem solid;
}
.editButton{
    background-color: white;
}
.profilePage{
    color: black;
}
.userName{
    border-bottom: goldenrod .4rem solid;
}
/*****************************************************
*                     Edit Profile                   *
*****************************************************/ 
.profileEditPage{
    color: white;
}
.pageHeaderProfile{
    margin: 0 4%;
    border-bottom: goldenrod .4rem solid;
}
.form-control{
    width:100%;
}
.formContainer{
    padding-top: 3%;
}
.userImageInput{
    margin-left: 3%;
}
/****************************
*    Secondary Profile      *
****************************/ 
.secProfImg{
    scale: 30%;
}
.userLink{
    width: 100%;
}
/*******  Header  **********/

/*******   Body   **********/

/*******  Footer  **********/
/****************************************************
*                 Home/fitavations                  *
****************************************************/ 
.fitavationFormContainer{
    padding: 0 2%;
    padding-bottom: 3%;
    border-bottom: .2rem solid goldenrod;
    margin-bottom: 3%;
}
.userFitavations .card-header{
    background-color: #707070ab;
    border-bottom: .5rem solid goldenrod;
    font-size: 1.5rem;
}
.userFitavations .card-footer{
    border-top: .5rem solid goldenrod;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #707070ab;
}
.userFitavations{
    margin: 1% 2%;
}
.postFooter{
    padding-right: 3%;
    padding-top: 0;
    padding-bottom: 0;
}
.postFit{
    padding: .5%;
    background-color: #5e0b1586;
    color: white;
}
.fitavationFooter{
    padding-right: 3%;
    padding-top: 0;
    padding-bottom: 0;
}
.deleteFitavation{
    padding: .5% 2%;
    background-color: #5e0b1586;
    color: white;
}
.editFitavation{
    padding: .5% 2%;
    background-color: #5e0b1586;
    color: white;
}
/*********************************************************
*                Followers/Following                     *
**********************************************************/
/****************************
*           Desktop         *
****************************/  
